<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
</head>
<body bgcolor="pink">

<p><i><center>
    <h1>About Mangalam College of Engineering</center></h1>
    
    Mangalam College of Engineering (MLM) stands supreme in the field of technical education with excellence and quality in education. In keeping with MLM's goal of excellence, the academic programs is supported by well experienced and dedicated faculty, which is committed to equip the student with knowledge and skills needed to succeed in today's rapidly changing world. Approved by the All India Council for Technical Education (AICTE) and affiliated to the Mahatma Gandhi University in Kerala, MLM is promoted by the Mangalam Educational Society, with a mission to bring out leaders for a technology – driven environment.
    </center></i></p>    
</body>
</html>