<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact us</title>
</head>
<body bgcolor="sky blue">
    <h1>CONTACT US</h1>
    <P><h2><B>EMAIL US</B></h2>
    info@mangalam.in</P>
    <P><h2><B>MEET US</B></h2>
        Mangalam Hills, Vettimukkal P.O., Ettumanoor, Kottayam, Kerala - 686631</P>
    <P><h2><B>CONTACT US</B></h2>
        +91-9895010120<br>
        +91-481-2710120</P>
</body>
</html>